body {
    background-color: #2f4f4f;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header {
    background-color: #5F9EA0;
    position: relative;
    top: 0;
    width: 100%;
}

.Title {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Mid {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 100px;
}

.Grid {
    table-layout: fixed;
    border-collapse: collapse;
}

tr, td {
    background-color: #3a3a3c;
    color: white;
    border: 5px solid #2f4f4f;
    border-radius: 15px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.Footer {
    background-color: #182727;
    position: absolute;
    bottom: 0;
    width: 100%;
}